*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
    font-family: 'Poppins' , sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.container{
    max-width: 600px;
}
.sldContainer{
    width: 100%;
    display: flex;
    overflow: hidden;
}